<!DOCTYPE html>
<html lang="fr">
  <!-- head -->
  <head>
    <!-- title -->
    <title>Plateforme de prise en charge medicale</title>

    <!-- meta data -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- css cors loading  -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/style-index.css" />

    <!-- fav icon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
  </head>

  <!-- body -->
  <body class="img js-fullheight">
    <div class="SILDE_BG">
      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
              <img
                src="assetsLogin/images/logo.png"
                width="150"
                height="217"
                alt="logo"
              />
              <h2 class="heading-section">Direction Affaires Sociales</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
              <div class="login-wrap p-0">
                <h3 class="mb-4 text-center">
                  Plateforme de prise en charge medicale
                </h3>
                <form action="/accueil" class="signin-form" method="post">
                  <div class="form-group">
                    <input name="username" type="text" class="form-control"
                    placeholder="Son" {{#if username}} value={{username}}
                    {{/if}} required />
                  </div>
                  <div class="form-group">
                    <input name="password" id="password-field" type="password"
                    class="form-control" placeholder="Mot de passe" {{#if
                    password}} value={{password}} {{/if}} required />
                    <span
                      toggle="#password-field"
                      class="fa fa-fw fa-eye field-icon toggle-password"
                    ></span>
                  </div>
                  <div class="form-group">
                    {{#if invalid}}
                    <p style="color: rgb(200, 0, 0)">{{invalid}}</p>
                    {{/if}}
                    <button
                      type="submit"
                      class="form-control btn btn-primary submit px-3"
                    >
                      CONNEXION
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Js files loading -->
    <script src="/jQuery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main-index.js"></script>
  </body>
</html>
