 <footer class="ftco-footer ftco-bg-dark ftco-section">
     <div class="container">
         <div class="row">
             {{!-- <div class="col-md-3">
                 <div class="ftco-footer-widget mb-4">
                     <img src="/images/logo-light.png" />
                     <p>
                         Far far away, behind the word mountains, far from the countries
                         Vokalia and Consonantia, there live the blind texts.
                     </p>
                 </div>
                 <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                     <li class="ftco-animate">
                         <a href="#"><span class="icon-twitter"></span></a>
                     </li>
                     <li class="ftco-animate">
                         <a href="#"><span class="icon-facebook"></span></a>
                     </li>
                     <li class="ftco-animate">
                         <a href="#"><span class="icon-instagram"></span></a>
                     </li>
                 </ul>
             </div> --}}
             {{!-- <div class="col-md-4">
                 <div class="ftco-footer-widget mb-4 ml-md-5">
                     <h2 class="ftco-heading-2">Region Boumerdes</h2>
                     <ul class="list-unstyled">

                         </li>
                         <li>Villa Atco w- Boumerdes</li>
                         <li>Tel : 024 79 02 04</li>
                         <li>Fax : 024 79 02 02</li>
                         <li class="ftco-animate">
                             <a href="#"><span class="icon-facebook"></span></a>
                     </ul>
                 </div>
             </div> --}}
             <div class="col-md-3">
                 <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2">Region Boumerdes</h2>
                     <div class="block-23">
                         <ul>
                             <li>
                                 <span class="icon icon-map-marker"></span>
                                 <span class="text">Villa Atco w- Boumerdes</span>
                             </li>
                             <li>
                                 <span class="icon icon-print"></span>
                                 <span class="text">Fax : 024 79 02 02</span>
                             </li>
                             <li>
                                 <span class="icon icon-phone"></span>
                                 <span class="text">Tel : 024 79 02 04</span>
                             </li>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2">Service sante</h2>
                     <div class="block-23">
                         <ul>
                             <li>
                                 <span class="icon icon-map-marker"></span>
                                 <span class="text">Villa Atco w- Boumerdes</span>
                             </li>
                             <li>
                                 <span class="icon icon-print"></span>
                                 <span class="text">Fax : 024 79 02 59</span>
                             </li>
                             <li>
                                 <span class="icon icon-phone"></span>
                                 <span class="text">Tel : 024 79 02 59</span>
                             </li>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2">Service APS</h2>
                     <div class="block-23">
                         <ul>
                             <li>
                                 <span class="icon icon-map-marker"></span>
                                 <span class="text">Villa Atco w- Boumerdes</span>
                             </li>
                             <li>
                                 <span class="icon icon-print"></span>
                                 <span class="text">Fax : 024 79 02 06</span>
                             </li>
                             <li>
                                 <span class="icon icon-phone"></span>
                                 <span class="text">Tel : 024 79 02 06</span>
                             </li>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2">CMS Boumerdes</h2>
                     <div class="block-23">
                         <ul>
                             <li>
                                 <span class="icon icon-map-marker"></span>
                                 <span class="text">Cité KANAGHAZ W-Boumerdes</span>
                             </li>
                             <li>
                                 <span class="icon icon-print"></span>
                                 <span class="text">Fax : 024 79 98 66</span>
                             </li>
                             <li>
                                 <span class="icon icon-phone"></span>
                                 <span class="text">Tel : 024 79 91 89</span>
                             </li>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>

             <div class="col-md-3" style="margin-left: 292px;">
                 <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2">CMS TIZI OUZOU</h2>
                     <div class="block-23">
                         <ul>
                             <li>
                                 <span class="icon icon-map-marker"></span>
                                 <span class="text">Cité EPLF,BT 72 Logts Nouvelle Ville,
                                     W-TIZI OUZOU</span>
                             </li>
                             <li>
                                 <span class="icon icon-print"></span>
                                 <span class="text">Fax : 026 18 34 21</span>
                             </li>
                             <li>
                                 <span class="icon icon-phone"></span>
                                 <span class="text">Tel : 026 18 34 20</span>
                             </li>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2">APS TIZI OUZOU</h2>
                     <div class="block-23">
                         <ul>
                             <li>
                                 <span class="icon icon-map-marker"></span>
                                 <span class="text">Cité EPLF,BT 72 Logts Nouvelle Ville,
                                     W-TIZI OUZOU</span>
                             </li>
                             <li>
                                 <span class="icon icon-print"></span>
                                 <span class="text">Fax : 026 18 34 21</span>
                             </li>
                             <li>
                                 <span class="icon icon-phone"></span>
                                 <span class="text">Tel : 0658 22 25 40</span>
                             </li>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>

         </div>
         <div class="row">
             <div class="col-md-12 text-center">
                 <p>
                     <span class="icon icon-envelope"></span>
                     <span class="text">Email : SecretariatASLBoumerdes@Sonatrach.dz</span>
                 </p>
                 <p>
                     <span class="icon icon-envelope"></span>
                     <span class="text">Email : ASL-BOUMERDES.PRISE-EN-CHARGE@sonatrach.dz</span>
                 </p>
             </div>
         </div>
         <div class="row">
             <div id = "copyright">
             </div>
         </div>
     </div>
 </footer>