<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-navbar" role="banner" id="ftco-navbar">

    <div class="container" style="max-width: 1333px !important;">
        <div class="row align-items-center">

            <div class="col-11 col-xl-1">
                <h1 class="mb-0 site-logo"><a href="index.html" class="text-white mb-0"><img
                            src="/images/logo-light.png" /></a></h1>
            </div>
            <div class="col-12 col-md-11 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li {{#if accueil}}class="active" {{/if}}>
                            <a href="/accueil"><span>Accueil</span></a>
                        </li>
                        <li {{#if info}}class="active" {{/if}}><a href="/info"><span>info</span></a></li>
                        <li class=" {{#if Prestations}} active {{/if}} has-children">
                            <a href="#"><span>Prestations</span></a>
                            <ul class="dropdown arrow-top">
                                <li>
                                    <a {{#if Prestations}} href="tiersPayant" {{else}} href="prestation/tiersPayant"
                                        {{/if}}>Tiers payant</a>
                                </li>
                                <li><a {{#if Prestations}} href="medecinesDeSoins" {{else}}
                                        href="prestation/medecinesDeSoins" {{/if}}>Médecines de soins</a></li>
                                <li><a {{#if Prestations}} href="prisesEnCharge100" {{else}}
                                        href="prestation/prisesEnCharge100" {{/if}}>Prises en charge 100%</a></li>
                                <li><a {{#if Prestations}} href="CMS" {{else}} href="prestation/CMS" {{/if}}>CMS</a>
                                </li>
                            </ul>
                        </li>
                        <li class=" {{#if Structures}} active {{/if}} has-children">
                            <a href="about.html"><span>Structures</span></a>
                            <ul class="dropdown arrow-top">
                                <li><a href="#">Tiers payant</a></li>
                                <li><a href="#">Médecines de soins</a></li>
                                <li><a href="#">Prises en charge 100%</a></li>
                            </ul>
                        </li>
                        <li {{#if EspaceDemandeur}}class="active" {{/if}}><a href="/EspaceDemandeur"><span>Espace
                                    Demandeur</span></a></li>
                        <li><a href="contact.html"><span>Contact</span></a></li>
                        <li class="has-children">
                            <a href=""><i class="icon icon-user-circle" style="font-size: 50px;margin-left: 20px;"></i></a>
                            <ul class="dropdown">
                                <li><a href="disconnect">déconnecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#"
                    class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
        </div>

    </div>
    </div>

</nav>