<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - 500 Error</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="../css/style-500.css">

</head>
<body>
<!-- partial:index.partial.html -->
<img src="/images/logo-light.png" class="logo" width="192">

<div class="browser">
  <div class="controls">
    <i></i>
    <i></i>
    <i></i>
  </div>
  
  <div class="eye"></div>
  <div class="eye"></div>
  <div class="mouth">
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
  </div>
</div>

<h1>Malheureusement, quelque chose a mal tourné.</h1>
<p>Nous ne sommes pas en mesure de répondre à votre demande. Soyez assuré que nous avons été informés et examinons le problème. S'il vous plaît rafraîchir votre navigateur. Si l'erreur persiste, veuillez contacter notre équipe</a>.</p>

<!-- 404 text -->
<!--
<h1>Unfortunately, this page does not exist.</h1>
<p>The link you clicked may be broken or the page may have been removed.</p>
-->
<!-- partial -->
  
</body>
</html>
