<!DOCTYPE html>
<html lang="en">

<head>
  <title>PCM - CMS</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="../css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="../css/animate.css" />
  <link rel="icon" type="image/x-icon" href="../images/favicon.png">
  <link rel="stylesheet" href="../css/owl.carousel.min.css" />
  <link rel="stylesheet" href="../css/owl.theme.default.min.css" />
  <link rel="stylesheet" href="../css/magnific-popup.css" />

  <link rel="stylesheet" href="../css/aos.css" />

  <link rel="stylesheet" href="../css/ionicons.min.css" />

  <link rel="stylesheet" href="../css/bootstrap-datepicker.css" />
  <link rel="stylesheet" href="../css/jquery.timepicker.css" />

  <link rel="stylesheet" href="../css/flaticon.css" />
  <link rel="stylesheet" href="../css/icomoon.css" />
  <link rel="stylesheet" href="../css/style.css" />
</head>

<body>

  <!-- News ticker -->
  {{> news}}
  <!-- End News Ticker -->


  <!-- #navbar -->

  {{> nav Prestations='true'}}

  <!-- #endnavbar -->

  <section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="
          background-image: url('../images/tp1.jpg');
          background-position: 50% 0px;
        " data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container" data-scrollax-parent="true">
        <div class="row slider-text align-items-end">
          <div class="col-md-7 col-sm-12 ftco-animate mb-5">
            <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"></p>
            <h1 style="font-size: 90px;font-weight: bold;" class="mb-3"
              data-scrollax=" properties: { translateY: '70%', opacity: .9}">
              CMS
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="
                col-md-10
                text-center
                heading-section heading-section-white
                ftco-animate
              ">
            <h2 style="font-weight: bold; font-size: 40px">Description</h2>
            <p style="font-size: 20px">
              C’est les prestations assurées par nos CMS (consultations des médecins,analyses
              médicales, radiologie, dentaire et Actes para médicaux) dans le cadre de la médecine
              de soins.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section testimony-section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center heading-section ftco-animate">
          <h2 class="mb-2">Qui peut bénéficier des prestations CMS ?</h2>
          <h4>Les travailleurs, leurs conjoints et leurs enfants.</h4>
          <h4>Les retarités, leurs conjoints et leurs enfants.</h4>
          <h4>Les veuf(ve)s et leurs enfants.</h4>
          <h4>Les entreprises conventionnées.</h4>
          <h4>Population extra SH.</h4>
        </div>
      </div>
      <div class="row justify-content-center ftco-animate">
        <div class="col-md-8">
          <div class="carousel-testimony owl-carousel ftco-owl">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section testimony-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center heading-section ftco-animate">
          <h2 class="mb-2">Quel est le dossier à fournir ?</h2>
          <div class="text-left ml-5">
            <h5 class="ml-4">- Copie de la carte professionnelle</h5>
            <h5 class="ml-4">- Feuille de soin</h5>
            <h5 class="ml-4">- Une fiche familiale ou KAFALA pour les enfants adoptifs</h5>
            <h5 class="ml-4">- Prescription médicale pour les spécialistes, analyses médicales
              et radiologie.</h5>
          </div>
        </div>
      </div>
      <div class="row justify-content-center ftco-animate">
        <div class="col-md-8">
          <div class="carousel-testimony owl-carousel ftco-owl">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section testimony-section bg-light">
    <div class="container">
      <div class="row block-9">
        <div class="rowDPC col-md-6 mb-5 contact-info">
          <strong>
            <h4 class="mb-2 clr-org">Consultations spécialisées<h6>(Les médecins vacataires)</h6>
            </h4>
          </strong>
          <h5>- Cardiologie</h5>
          <h5>- Pneumo-Phtisiologie </h5>
          <h5>- Diabéto-Endocrinologie</h5>
          <h5>- Dermatologie </h5>
          <h5>- Orthopédie </h5>
          <h5>- Rhumatologie </h5>
          <h5>- Chirurgie-générale</h5>
          <h5>- Pédiatrie </h5>
          <h5>- Urologie </h5>
          <h5>- Gynécologie </h5>
          <h5>- Neurologie </h5>
          <h5>- Neurochirurgie </h5>
          <h5>- rééducation fonctionnelle</h5>
          <h5>- Néphrologie</h5>
          <h5>- ORL</h5>
          <h5>- Médecine Interne</h5>
        </div>
        <div class="rowDPC col-md-5 mb-5 contact-info">
          <strong>
            <h4 class="mb-2 clr-org">Les médecins personnel SH & prestations assurées</h4>
          </strong>
          <h5>- Médecin Généraliste</h5>
          <h5>- Dentiste </h5>
          <h5>- Analyses médicales</h5>
          <h5>- Radiologie </h5>
          <h5>- Actes para médicales </h5>
        </div>
      </div>
    </div>
  </section>

<!-- Footer -->

 {{>footer}}

<!-- END Footer -->
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg>
  </div>


  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery-migrate-3.0.1.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/jquery.easing.1.3.js"></script>
  <script src="../js/jquery.waypoints.min.js"></script>
  <script src="../js/jquery.stellar.min.js"></script>
  <script src="../js/owl.carousel.min.js"></script>
  <script src="../js/jquery.magnific-popup.min.js"></script>
  <script src="../js/aos.js"></script>
  <script src="../js/jquery.animateNumber.min.js"></script>
  <script src="../js/bootstrap-datepicker.js"></script>
  <script src="../js/jquery.timepicker.min.js"></script>
  <script src="../js/scrollax.min.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>