<!DOCTYPE html>
<html lang="en">

<head>
  <title>PCM - Médecines de soins</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
  <!-- essential css -->
  {{> css_ess layer2='true'}}
</head>

<body>

  <!-- News ticker -->
  {{> news}}
  <!-- End News Ticker -->


  <!-- #navbar -->

  {{> nav Prestations='true'}}

  <!-- #endnavbar -->

  <section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="
          background-image: url('../images/tp1.jpg');
          background-position: 50% 0px;
        " data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container" data-scrollax-parent="true">
        <div class="row slider-text align-items-end">
          <div class="col-md-7 col-sm-12 ftco-animate mb-5">
            <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"></p>
            <h1 style="font-size: 90px;font-weight: bold;" class="mb-3"
              data-scrollax=" properties: { translateY: '70%', opacity: .9}">
              Médecines de soins
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="
                col-md-10
                text-center
                heading-section heading-section-white
                ftco-animate
              ">
            <h2 style="font-weight: bold; font-size: 40px">Description</h2>
            <p style="font-size: 20px">
              Prise en charge de la totalité des frais engagés pour des consultations et explorations au niveau des
              cabinets médicaux privées conventionnées, dans le cadre de médecines de soins.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section testimony-section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center heading-section ftco-animate">
          <h2 class="mb-2">Qui peut bénéficier des prestations offertes par ce système ?</h2>

          <h4>Les travailleurs, leurs conjoints et leurs enfants.</h4>
          <h4>Les retraités.</h4>
        </div>
      </div>
      <div class="row justify-content-center ftco-animate">
        <div class="col-md-8">
          <div class="carousel-testimony owl-carousel ftco-owl">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section testimony-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center heading-section ftco-animate">
          <h2 class="mb-2">Quel est le dossier à fournir ?</h2>
          <div class="text-left">
            <h4>Pièces communes :</h4>
            <h5 class="ml-4">- Une demande de prise en charge.</h5>
            <div class="ml-4">
              <h4> - Travailleur :</h4>
              <h5 class="ml-4">- Prescription médicale de l`acte demandé.</h5>
              <h5 class="ml-4">- Copie du dernier bulletin de paie ou attestation de travail.</h5>
              <h5 class="ml-4">- Feuille de soins.</h5>
              <h5 class="ml-4">- Une fiche familiale ou KAFALA pour les enfants adoptifs.</h5>
            </div>
            <div class="ml-4">
              <h4> - Retraité :</h4>
              <h5 class="ml-4">- Copie de la décision de mise à la retraite.</h5>
              <h5 class="ml-4">- Prescription Médicale de l`acte demandé.</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center ftco-animate">
        <div class="col-md-8">
          <div class="carousel-testimony owl-carousel ftco-owl">
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Footer -->

 {{>footer}}

<!-- END Footer -->

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg>
  </div>


  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery-migrate-3.0.1.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/jquery.easing.1.3.js"></script>
  <script src="../js/jquery.waypoints.min.js"></script>
  <script src="../js/jquery.stellar.min.js"></script>
  <script src="../js/owl.carousel.min.js"></script>
  <script src="../js/jquery.magnific-popup.min.js"></script>
  <script src="../js/aos.js"></script>
  <script src="../js/jquery.animateNumber.min.js"></script>
  <script src="../js/bootstrap-datepicker.js"></script>
  <script src="../js/jquery.timepicker.min.js"></script>
  <script src="../js/scrollax.min.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>